<div id="about-me" class="section">
	<h2>Andrew Couch</h2>
	<div class="row">
		<div class="col-md-8">
			<h3>Senior Web Application Developer and Consultant</h3>			
			<img src="{{tplFile.to_base}}{{img_path}}Andrew-Couch.jpg" class="portrait"/>
			<p> I have been working in web development professionally since 2000. Originally from the US, I have been in Germany since 2007. Currently based in Freiburg, I am adept at working with distributed teams.<br/><br/>
			Let me help you with your web application and database needs. 
			</p>
		</div>
		<div class="col-md-4" id="contact">
			<h3>Contact and Follow</h3>
			<a class="mail" href="mailto:info@andrew-couch.com">info@andrew-couch.com</a>					
			<ul>
				<li><a class="linkedin" href="https://www.linkedin.com/in/andrewcouchdeveloper">LinkedIn</a></li>
				<li><a class="xing" href="https://www.xing.com/profiles/Andrew_Couch">XING</a></li>
				<li><a class="aboutme" href="http://about.me/andrew.couch">About.me</a></li>
				<li><a class="github" href="https://github.com/andrewcouch/">GitHub</a></li>
				<li><a class="twitter" href="http://twitter.com/groundedtravelr">@groundedtravelr</a></li>
			</ul>
		</div>
	</div>
</div>